{% extends "layouts/base.html" %}
{% block title %}Главная{% endblock title %}

{% block content %}

<a href="/product/create">Выставить товар на продажу</a>
<hr>
<h2>Список Товаров:</h2>
{% if products.count > 0 %}
<hr />
    <div class="row">
        {% for product in products %}
        <div class="col-4 product">
            <p>Опубликовал(а): {{ product.user.username }}</p>

            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }} Тг.</p>


            <p><a href="/product/update/{{ product.id }}">Изменить</a> | <a href="/product/delete/{{ product.id }}">Удалить</a></p>
        </div>
        {% endfor %}
    </div>
{% endif %}
<hr />
<h2>Список пользователей:</h2>
{% if people.count > 0 %}
    <table class="table">
        <tr><th>Id</th><th>Имя</th><th>Доска обьявлений пользователя</th></tr>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.username }}</td>
            <td><a href="/product/productsOfUser/{{ person.id }}">Обьявления</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock content %}