{% extends "layouts/base.html" %}
{% block title %}Главная{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <a href="/product/create">Выставить товар на продажу</a>
{% endif %}

<hr>
<h2>Список Товаров:</h2>
{% if products.count > 0 %}
<hr />
    <div class="row">
        {% for product in products %}
        <div class="col-4 product">
            <p>Опубликовал(а): {{ product.user.username }}</p>

            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }} Тг.</p>

            {% if user.is_authenticated and user.id == product.user_id %}
                <p><a href="/product/update/{{ product.id }}/">Изменить</a> | <a href="/product/delete/{{ product.id }}">Удалить</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endif %}
<hr />
<h2>Список пользователей:</h2>
{% if users.count > 0 %}
    <table class="table">
        <tr><th>Id</th><th>Имя</th><th>Доска обьявлений пользователя</th></tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td><a href="/product/ofUser/{{ user.id }}">Обьявления</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock content %}